@model  IEnumerable<Moto.Common.Entities.Model>

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>機車查詢功能</title>
    <style>
        #diva {
            width: 50%;
            height: auto;
            float: left;
            margin:10px auto;
        }

        #divb {
            width: 50%;
            height: auto;
            float: left;
            margin: 10px auto;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>機車查詢頁面</h1>
    @using (Html.BeginForm("Query", "MotoSearch", FormMethod.Post))
    {
        <div id="diva">品牌：@Html.DropDownList("Brand_code")</div>
        <div id="diva">年份：@Html.DropDownList("year")</div>
        <div id="diva">排氣量： @Html.TextBox("cc_s", "", new { style = "width:70px", Type="number", onkeypress = "return (/[\\d]/.test(String.fromCharCode(event.keyCode)))" }) cc以上 ~ @Html.TextBox("cc_e", "", new { style = "width:70px", Type = "number", onkeypress = "return (/[\\d]/.test(String.fromCharCode(event.keyCode)))" }) cc以下 </div>
        <div id="diva">有無ABS：<br />
            有 @Html.RadioButton("ABS", "1")
            無 @Html.RadioButton("ABS", "0")</div><br>
        <div id="diva"> 售價：$  @Html.TextBox("Factory_price", "", new { style = "width:80px", Type = "number", onkeypress = "return (/[\\d]/.test(String.fromCharCode(event.keyCode)))" }) 以上 ~ $  @Html.TextBox("Factory_price2", "", new { style = "width:80px", Type = "number", onkeypress = "return (/[\\d]/.test(String.fromCharCode(event.keyCode)))" }) 以下</div>

        <div id="diva"> <input type="submit" value="query" class="btn btn-default" /></div>
    }

   <div id="divb"><h3>查詢結果</h3></div>
   <div id="divb"><h3>共計 @Model.Count() 筆</h3></div>
    
    <div id="diva">
        <table  class="table" border="1"  cellpadding="5" width="1000" align="center">
            <tr>
                <th>流水號</th>
                <th>品牌</th>
                <th>機種名稱</th>
                <th>年份</th>
                <th>排氣量</th>
                <th>顏色</th>
                <th>前煞系統</th>
                <th>後煞系統</th>
                <th>ABS</th>
                <th>建議價格</th>
            </tr>

            @foreach (var model in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => model.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.brand_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.cc) cc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.Front_wheel_brakes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.Rear_wheel_brakes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.ABS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => model.Retail_price)
                </td>
            </tr>

            }
        </table>
        </div>
    </body>
</html>
