@{
    Layout = null;
    if (Session["Account"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>iMoto管理系統</title>
</head>

<body>
    <div>
        <h1>iMoto管理系統主畫面</h1>
        <br><br>
        @Html.ActionLink("1.機車查詢", "Index", "Moto")<br><br>
        @Html.ActionLink("2.客戶管理", "Index", "Customer")<br><br>
        @Html.ActionLink("3.客戶消費紀錄", "Index", "Consumption")<br><br>
        @Html.ActionLink("4.材料庫存管理", "Index", "Material")<br><br>
        @Html.ActionLink("5.廠商資料維護", "Index", "Vendor")<br><br>

        <a href="@Url.Action("LogOut","Home")">會員登出</a>
    </div>
</body>

</html>


