@model  IEnumerable<Moto.Common.Entities.Transaction>

@{
    Layout = null;
}


<!DOCTYPE html>

<html style="background-color:#CBE0F5; font-family:微軟正黑體">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>客戶消費紀錄</title>
    <style>
        #diva {
            width: 50%;
            height: auto;
            float: left;
            margin: 10px auto;
        }

        #divb {
            width: 50%;
            height: auto;
            float: right;
            margin: 10px auto;
        }
        #divc {
            width: 25%;
            height: auto;
            float: left;
            margin: 10px auto;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>客戶消費紀錄</h1>
    @using (Html.BeginForm("Query", "TransactionRecord", FormMethod.Post))
    {
        <div id="diva" style="height:21px">日期：@Html.TextBox("Date", "2019-01-01", new { style = "width:150px", Type = "Date" })</div>
        <div id="diva">客戶姓名：@Html.TextBox("Name", "", new { style = "width:150px", id = "txtbox_Name" })</div>
        <div id="diva">金額： @Html.TextBox("Amount", "", new { style = "width:150px", Type = "number", onkeypress = "return (/[\\d]/.test(String.fromCharCode(event.keyCode)))" })</div>
        <div id="diva">品項： @Html.TextBox("Detail", "", new { style = "width:150px" })</div>
        <div id="diva">備註： @Html.TextBox("Memo", "", new { style = "width:150px" })</div>
        <div id="divc" style="width:5%"> <input type="submit" value="Query" name="btn" /></div>
        <div id="divc" style="width:5%"> <input type="submit" value="Create" name="btn" /></div>
    }

    <div id="divb"><h3>查詢結果</h3></div>
    <div id="divb"><h3>共計 @Model.Count() 筆</h3></div>

    <div id="diva">
        <table class="table" border="1" cellpadding="5" width="1000" align="center">
            <tr>
                <th>序號</th>
                <th>日期</th>
                <th>金額</th>
                <th>消費品項</th>
                <th>備註</th>
            </tr>

            @foreach (var model in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Detail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Memo)
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
